/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

.qam-dropdown-content-div {
  width: max-content;
  position: relative;
}

.qam-dropdown-content {
  max-width: 455px; /* Allows for 50 characters */
  padding: 0.2rem;
  border-radius: var(--qam-border-radius);
  width: max-content;
  border: 1px solid var(--qam-color-border);
  background-color: var(--qam-color-form);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "search search"
    "clear close"
    "select-all select-all"
    "dd-content dd-content";
}

.qam-search-text {
  margin: 0.3rem 0;
  border: 1px solid var(--qam-color-border);
  border-radius: var(--qam-border-radius);
  min-width: 50px;
  grid-area: search;
}

.qam-search-text:focus {
  background-color: var(--qam-color-background);
}

.qam-clear-button {
  margin: 0.2rem;
  grid-area: clear;
  justify-self: start;
}

.qam-close-button {
  margin: 0.2rem;
  grid-area: close;
  justify-self: end;
}

.qam-select-all {
  margin: 0.3rem 0;
  padding: 0 5rem;
  border: 1px solid var(--qam-color-border);
  border-radius: var(--qam-border-radius);
  z-index: 1;
  grid-area: select-all;
}

.qam-select-all-cb {
}

.qam-dropdown-list {
  position: relative;
  display: block;
  float: left;
  padding: 0;

  width: 100%;

  /* Scrolling in dropdown */
  max-height: 30rem; /* Maximum height of viewable content */
  overflow: hidden; /* Hides the overflow content */
  overflow-y: auto; /* Sets y scroll bars */

  border: 1px solid var(--qam-color-border);
  border-radius: var(--qam-border-radius);
  grid-area: dd-content;
}

.qam-list-item {
  position: relative;
  display: block;
  padding: 0 0.3rem;
  width: 100%;
  background-color: var(--qam-color-background);
}

.qam-list-item:hover,
.qam-list-item:focus {
  cursor: pointer;
  background-color: var(--qam-color-element-hover);
}

.qam-list-item-cb {
  margin-right: 0.3rem;
}
