*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

.qam-table {
  border: 2px solid #ccc;
}

.qam-table .qam-thead .qam-th {
  position: relative;
  font-weight: 1500;
  font-size: 30px;
}

.qam-table .qam-thead .qam-th button {
  position: relative;
  font-weight: 1500;
  font-size: 12px;
}

.qam-td {
  padding: 0 0.3rem;
}
